.popup-line-wrap {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
  width: 100%;
}

.counts {
  text-align: right;
}

.popup-legend {
  width: 8px;
  height: 8px;
  margin-top: 4px;
}

.legend-cases {
  background: #ffa900;
}

.legend-cured {
  background: #108d90;
}

.legend-death {
  background: #d14f69;
}

.legend-home-isolation {
  background: gray;
}

.legend-observation {
  background: rgb(105, 103, 193);
}

.legend-hospitalized {
  background: #ca7575;
}
