.infoTile {
  padding-right: 30px;
  /* width: 240px; */
}

.title {
  color: #767676;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.confirmed {
  font-size: 32px;
  color: #d14f69;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}

.legend {
  display: grid;
  padding: 20px 0;
  grid-template-columns: 8px auto min-content;
  align-items: center;
  grid-gap: 16px 8px;
  font-size: 13px;
  line-height: 20px;
}

.legend-icon {
  width: 8px;
  height: 8px;
}

.total {
  color: #fff;
  text-align: right;
  padding: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.description {
  font-weight: 600;
}

.active-case {
  background-color: rgba(255, 169, 0, 0.2);
  color: #ffa900;
  font-weight: 700;
}

.recovered-case {
  background-color: rgba(129, 255, 202, 0.3);
  color: #108d90;
  font-weight: 700;
}

.death-case {
  background-color: rgba(209, 79, 105, 0.2);
  color: #d14f69;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .infoTile {
    width: 100%;
  }
  .title {
    display: inline-block;
    /* margin: 0 50px 0 0; */
    width: 65%;
  }
  .confirmed {
    display: inline-block;
    width: 30%;
    text-align: right;
  }
}
