.footer-container {
  /* min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 12px; */

  padding: 10px 10px;
  font-size: 12px;
  min-height: 45px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding: 2px 10px;
    font-size: 12px;
    min-height: unset;
  }
}
